<style>
    #warned {
        opacity: 0;
    }
</style>

<h3 class="mt-3">Kategoriya bo'limi</h3>

<!-- Malumot yaratish uchun forma -->
<div class="row col-md-12 mt-3">
    <div class="col-md-9">
        <input type="text" class="form-control" id="categoryName" placeholder="Kategoriya nomini kiriting ... ">
        <span id="warned" class="badge rounded-pill text-bg-danger">Iltimos ma'lumotni to'liq kiritng</span>
    </div>
    <div class="col-md-3">
        <button onclick="createData()" type="submit" class="btn btn-primary col-md-12">Saqlash</button>
    </div>
</div>

<!-- barcha malumotlar jadvali -->
<table class="table table-bordered mt-3  table-hover text-center">
    <thead class="table-dark">
        <tr>
            <th style="width: 10%;">#</th>
            <th style="width: 40%;">Kategoriya nomi</th>
            <th style="width: 30%;">Yaratilgan sana</th>
            <th style="width: 20%;">Sozlama</th>
        </tr>
    </thead>
    <tbody id="all_data"> </tbody>
</table>


<!-- Malumotni tahrirlash -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="EDIT_DATA" aria-labelledby="EDIT_DATA">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="EDIT_DATA">Tahrirlash</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body GET_DATA"></div>
</div>






<script src="/axios.min.js"></script>
<script src="/jquery.min.js"></script>
<script>

    // POST    - /api/category/create - yangi kategoriya yaratish
    const createData = () => {
        const categoryName = document.getElementById("categoryName").value;
        const warned = document.getElementById("warned");
        if (categoryName == "") {
            warned.style.opacity = "1"
            setTimeout(() => { warned.style.opacity = "0" }, 5000)
        }
        else {
            axios.post("/api/category/create", { name: categoryName }).then((res) => {
                getAll()
            })
        }
    }
    // GET     - /api/category/all - hamma kategoriyani olish
    const getAll = () => {
        axios.get("/api/category/all").then(async (res) => {
            const data = res.data; // [{…}, {…}, {…}, {…}, {…}, {…}, {…}]
            const all_data = $("#all_data")
            await all_data.html("")
            data.forEach((item, index) => {
                all_data.append(`

                <tr>
                    <th class="fs-6">${index += 1}</th>
                    <td class="fs-6">${item.name}</td>
                    <td class="fs-6">${new Date(item.date).toLocaleString()}</td>
                    <td>
                        <span onclick="getCategory('${item._id}')" data-bs-toggle="offcanvas" href="#EDIT_DATA" role="button" aria-controls="EDIT_DATA" type="button" class="badge bg-success fs-6">Tahrirlash</span>
                        <span onclick="deleteCategory('${item._id}')" type="button" class="badge bg-danger fs-6">O'chirish</span>
                    </td>
                </tr>
                
                `)
            });
        })
    }
    getAll()
    // DELETE  - /api/category/:id - alohida o'chirish
    const deleteCategory = (id) => {
        axios.delete(`/api/category/${id}`).then((res) => {
            getAll()
        })
    }
    // GET     - /api/category/:id - alohida olish
    const getCategory = (id) => {
        axios.get(`/api/category/${id}`).then(async (res) => {
            const data = res.data;
            const appending = $(".GET_DATA")
            await appending.html("")
            appending.append(`
            
            <label for="">Yangi nom kiriting</label>
            <input type="text" id="updateInput" class="form-control mt-1" value="${data.name}">

            <button onclick="updateCategory('${data._id}')"  type="button" class="btn btn-outline-success mt-2">Tahrirlash</button>
            `)
        })
    }
    // PUT     - /api/category/:id - alohida tahrirlash
    const updateCategory = (id) => {
        const updateInput = document.getElementById("updateInput").value;
        if (updateInput == "") {
            alert("Malumotni to'liq kiriting")
        }
        else {
            axios.put(`/api/category/${id}`, {
                name: updateInput
            }).then((res) => {
                getAll()
            })
        }
    }







</script>